[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

bumpversion = "*"
wheel = "==0.30.0"
watchdog = "==0.8.3"
"flake8" = "*"
tox = "*"
coverage = "==4.5.1"
pyinstaller = "==3.3.1"
sphinx = "==1.7.1"
twine = "*"
cryptography = "*"
pylint = "*"
pylama = "*"
pycodestyle = "*"
rope = "*"
yapf = "*"
pytest = "*"


[packages]

click = "==6.7"
docker = "*"
pyyaml = "*"
